body.options {

	.wrapper{
		background-color: #eaeaea;
		border-radius: 0;
		margin: 0 auto;
		padding: 20px;
		width: 960px;
	}

	.status{
		background-color: rgba( 255, 255, 0, 0.5 );
		color: green;
		display: block;
		padding: 5px;
	}

	.new{
		text-align: right;

		.btn{

			border-radius: 0;
			color: #fff;
			font-size: 1em;
			margin: 0;
			padding: 6px 31px;
			text-decoration: none;
			text-shadow: 1px 2px 0 rgba(0,0,0,0.8);

			&.add-btn {
				background-image: linear-gradient(to bottom, #49e691, #197543);
    			border-bottom-color: #28a956;
    			border-color: #28a956;
				box-shadow: inset 0 1px 0 rgba(#197543,0.5);
			}

			&.save-btn {
				background-color: #21759b;
				background-image: linear-gradient(to bottom, #2a95c5, #21759b);
				border-bottom-color: #1e6a8d;
				border-color: #21759b;
				box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
			}
		}
	}

	h1 {
		font-size: 2em;
		margin-top: 0;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}

	label{
		display: inline-block;
		padding: 5px;
	}

	table.tagSettings{
		width: 100%;

		th, td{
			border: 1px groove #c7c7c7;
			padding: 5px;
		}

		th{
			font-size: 1.25em;
			text-align: center;
		}

		.label{
			display: inline-block;
			height: 25px;
			width: 80%;
		}

		.remove{
			color: #ef2b2b;
			display: inline-block;
			float: right;
			padding: 9px 5px;
		}

		.tag-string input{
			height: 25px;
			width: 97.5%; // test
		}

		.spectrum-element{
			text-align: center;
		}

		.pillColor,
		.textColor {
			height: 31px;
			width: 50%;
		}
	}
}
